# Let´s start with some basic commands

In [17]:
5 + 2

7

In [19]:
12 - 3

9

In [20]:
5*3

15

In [24]:
print("Hello")

Hello

### Assign variables with the = sign

In [29]:
a = 3
b = 8

print(a - b)

-5

In [30]:
a-b

-5

### You can load features from libraries by importing the library (once) and then call their functions

In [25]:
import datetime
str(datetime.datetime.now())

'2021-01-08 12:21:27.863233'

### You can create an list of value by using [item1, item2, ... ]

In [31]:
a = [1,2,3,4,5]

print(a)

[1, 2, 3, 4, 5]

### You can define funktions, which require some input parameters () and return a value

In [33]:
def add5(x):
    return x + 5

In [34]:
add5(10)

15

In [35]:
a

[1, 2, 3, 4, 5]

### Now let´s work with pandas which is a library to work with DataFrames (i.e. tables of data)

In [38]:
import pandas as pd

In [51]:
a = [4,2,3,4,5]
a_series = pd.Series(a)
a_series

0    4
1    2
2    3
3    4
4    5
dtype: int64

### A pd-Series is a 1-dimensional vector

#### Let´s do some basic computations

In [52]:
# average
a_series.mean()

3.6

In [53]:
# sum
a_series.sum()

18

In [54]:
# variance
a_series.var()

1.3000000000000003

In [55]:
b = [4,2,3,4,5]
b_series = pd.Series(b)
b_series

0    4
1    2
2    3
3    4
4    5
dtype: int64

In [56]:
a_series + b_series

0     8
1     4
2     6
3     8
4    10
dtype: int64